# Node.js dependencies
/node_modules/

# Logs
logs
*.log
*.log.*

# Dependency directories
bower_components/

# Build output
/dist
/build

# Test coverage
coverage/

# Environment variables
.env
.env.*

# npm package lock file (optional, if you want to ignore it)
package-lock.json

# IDE / Editor specific files
.vscode/
.idea/

# macOS specific files
.DS_Store